<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vídeo em Tela Cheia</title>
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/video.css">
</head>
<body>
    <header>
        <nav class="transparent-menu">
            <ul>
                <li><a href="/">Pesquisa</a></li>
                <li><a href="/video">Vídeo</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="video-container">
            <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264" data-setup='{}'>
                <source src="/video/Mais%20de%2070%25%20das%20mulheres%20com%20filhos%20t%C3%AAm%20dificuldades%20de%20inser%C3%A7%C3%A3o%20no%20mercado%20de%20trabalho.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </main>
    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    <script src="/js/video.js"></script>
</body>
</html>
